@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.welcome__container {
    font-family: 'Poppins';
}

.welcome__container-text {
    padding-top: 7rem;
    overflow-wrap: break-word;
}

.welcome__container-text p {
    color: rgb(127, 127, 127);
}

.welcome__container-text h1 {
    font-weight: 900;
    font-size: 50px;
}

.welcome__container-img {
    float: right;
    width: 725px;
    height: 595px;
    margin-bottom: 5rem;
}

.welcome__container-img img {
    width: 100%;
}

.welcome__container-quote button {
    padding: 0.7rem 4rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--text-color-light);

    font-family: var(--font-buttons);
    font-size: 18px;
}


.welcome__container-quote button:hover {
    color: var(--bg-color);
}
