@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.feature{
    margin-bottom: 3rem;
}

.feature__container{
    display: flex;
    flex-direction: row;
}

.feature__container-text{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
}

.feature__container-text h1{
    font-family: "Poppins";
    font-size: 32px;
    line-height: 42px;
}

.feature__container-text p{
    font-family: var(--font-buttons);
}

.feature__container-img{
    width: 601px;
}

.feature__container-img img{
    width: 100%;
}

