@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.steps h2, .steps h1{
    font-family: "Poppins";
}

.steps p{
    font-family: var(--font-buttons);
}

.steps__container {
    width: 100%;
    background-color: var(--headline-bg);
    border-radius: 16px;
    box-shadow: rgba(51, 51, 51, .1);
    border: 0px none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 50px;

    box-shadow: 0px 10px 20px var(--box-shadow);
}

.steps__container__right{
    width: 100%;
}

.steps__container__right-img{
    width: 557px;
    margin-left: auto;
    margin-right: auto;
}

.steps__container__left img{
    width: 30px;
}

.steps__container__right-label {
    text-align: center;
    width: 90%;
}

.steps__container__left-step{
    width: 80%;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba(150, 149, 149,.7);
}